@font-face {
  font-family: 'OpenSans';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/OpenSans-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
    url('../fonts/OpenSans-Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'MontserratAlternates';
  font-weight: 500;
  font-style: normal;
  src: url('../fonts/MontserratAlternates-Medium.woff2') format('woff2'),
    url('../fonts/MontserratAlternates-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'MontserratAlternates';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/MontserratAlternates-Bold.woff2') format('woff2'),
    url('../fonts/MontserratAlternates-Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: normal;
  src: url('../fonts/Montserrat-Medium.woff2') format('woff2'),
    url('../fonts/Montserrat-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: normal;
  src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('../fonts/Montserrat-SemiBold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 800;
  font-style: normal;
  src: url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
    url('../fonts/Montserrat-ExtraBold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Nunito-Regular.woff2') format('woff2'),
    url('../fonts/Nunito-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  font-weight: 600;
  font-style: normal;
  src: url('../fonts/Nunito-SemiBold.woff2') format('woff2'),
    url('../fonts/Nunito-SemiBold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Nunito-Bold.woff2') format('woff2'),
    url('../fonts/Nunito-Bold.woff') format('woff');
  font-display: swap;
}