body {
  font-size: 18px;
  line-height: 1.8;
  color: $default;
  @include opensans(400);
  background-color: #ffffff;
  background-color: #F8FBFE;

  @include r (990) {
    &.lock {
      overflow: hidden;
    }
  }
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;

  &--sm {
    max-width: 1230px;
  }
}

.button {
  background-color: $button;
  padding: 8px 32px;
  color: #ffffff;
  border-radius: 12px;
  @include montserrat(600);
  font-size: 20px;
  border: 2px solid transparent;
  transition: border 0.5s, background-color 0.5s, color 0.5s;

  &:hover,
  &:active,
  &:focus {
    background-color: #ffffff;
    color: $accent;
    border: 2px solid $accent;
  }
}

.title {
  @include montserrat(800);
  font-size: 38px;
  line-height: 1.2;
  color: $title-color;
  max-width: 595px;

  span {
    color: $accent;
  }
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {

  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}